spring:
  application:
    name: promo-management
  datasource:
    url: jdbc:postgresql://postgres:5432/promocode_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://keycloak:8080/realms/promo-system/protocol/openid-connect/certs

server:
  port: 8081

logging:
  level:
    org.springframework.security: DEBUG
    com.promocode: DEBUG
